Archivos de programa/
Config.Msi/
Documents and Settings/
found.000/
PerfLogs/
Recovery/
System Volume Information/
Users/AlvaroGallego/Configuración local/
Users/AlvaroGallego/Cookies/
Users/AlvaroGallego/Datos de programa/
Users/AlvaroGallego/Documents/Mi música/
